html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  min-width: 320px;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.ts-icon,
.ts-icon-before:before {
  background: url(/img/ts_icons.png?1) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ts-icon,
  .ts-icon-before:before {
    background-image: url(/img/ts_icons_2x.png?1);
    background-size: 33px 225px;
  }
}

.ts-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .93);
}
@media (max-width: 320px) {
  .ts-header-shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, .15);
    transition: box-shadow .15s;
  }
}

.ts-intro {
  display: table;
  width: 100%;
  height: 100%;
}
.ts-intro-box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 55px 25px;
}
.ts-intro-text {
  max-width: 400px;
  margin: 0 auto;
  line-height: 28px;
  color: #1a1a1a;
}
.ts-intro-text a {
  color: #000;
  text-decoration: underline;
}
.ts-get-telegram {
  margin: 35px 0 0;
}

.ts-logo {
  display: inline-block;
  font-size: 24px;
  line-height: 1.42em;
  margin: 0;
  transform-origin: 0 100%;
}
.ts-logo-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 1.42em;
  color: #1a1a1a;
}
.ts-logo-link:hover {
  text-decoration: none;
}
.ts-logo i {
  display: inline-block;
  position: absolute;
  left: 0;
}
.ts-logo i:before,
.ts-logo i:after {
  content: '';
  display: inline-block;
  border: 3px solid #1a1a1a;
  box-sizing: border-box;
}
.ts-logo i:before {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  vertical-align: top;
}
.ts-logo i:after {
  position: absolute;
  top: 0; left: 0;
  margin: 9px;
  width: 16px;
  height: 16px;
  border-radius: 9px;
}
.ts-logo strong {
  font-weight: 500;
  vertical-align: top;
  margin-left: 10px;
}
.ts-intro .ts-logo {
  padding: 0 0 35px;
}
.ts-header .ts-logo {
  position: absolute;
  left: 0;
  padding: 15px;
  z-index: 1;
}
.ts-header .ts-logo strong {
  display: none;
}
.ts-title {
  padding: 15px 64px;
  text-align: center;
  transform-origin: 50% 100%;
}
.ts-channel-title {
  font-size: 24px;
  line-height: 1.42em;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ts-channel-title a {
  color: #1a1a1a;
}
.ts-button {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 18px;
  text-transform: uppercase;
  padding: 7px 15px;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
}
.ts-button:hover {
  text-decoration: none;
}
.ts-join-channel {
  position: absolute;
  top: 0; right: 0;
  margin: 20px;
}
.ts-join-channel .mini {
  display: inline;
}
.ts-join-channel .full {
  display: none;
}


.ts-feed {
  margin: 79px 0 35px;
}
.ts-feed .ts-intro-text {
  padding-top: 25px;
}

@media (max-width: 320px) {
  .ts-header .ts-logo {
    padding: 8px 10px;
  }
  .ts-title {
    padding: 8px 54px;
  }
}
@media (min-width: 768px) {
  .ts-header .ts-logo strong {
    display: inline-block;
  }
  .ts-title {
    padding: 15px 179px;
  }
}

.ts-post {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #414141;
  transition: background 1s ease;
  overflow: hidden;
}
.ts-post-current {
  background-color: #f5f5f5;
  transition: none;
}


.ts-video-container {
  width: 272px;
  height: 272px;
  margin: 0 auto;
  position: relative;
}
.ts-progress {
  display: none;
  position: relative;
  z-index: 2;
}
.ts-progress canvas {
  vertical-align: top;
}
.ts-video-playing .ts-progress {
  display: block;
}

.ts-video-wrap {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border-radius: 128px;
  margin: 25px;
  position: absolute;
  top: 0; left: 0;
  margin: 8px;
  z-index: 1;
}
.ts-video {
  width: 260px;
  height: 260px;
  background: #111;
  border-radius: 130px;
  vertical-align: top;
  margin: -2px;
  -webkit-filter: blur(3.5px);
  filter: blur(3.5px);
}
.ts-video-empty {
  width: 230px;
  height: 230px;
  border-radius: 130px;
  vertical-align: top;
  margin: -2px;
  border: 15px solid #1a1a1a;
}
.ts-video-empty:after {
  content: '';
  width: 100px;
  height: 100px;
  border: 15px solid #1a1a1a;
  display: inline-block;
  border-radius: 65px;
  margin: 50px;
}
.ts-video-preloaded {
  -webkit-filter: none;
  filter: none;
}
.ts-video-muted {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, .6);
  background-position: -1px -42px;
  transition: all .3s ease;
  visibility: visible;
  opacity: 1;
}
.ts-video-playing .ts-video-muted {
  transform: scale3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
}
.ts-video-border {
  display: inline-block;
  position: absolute;
  border-radius: 198px;
  top: 0; left: 0;
  bottom: 0; right: 0;
  border: 70px solid #fff;
  margin: -70px;
  transition: border-color 1s ease;
}
.ts-post-current .ts-video-border {
  border-color: #f5f5f5;
}
.ts-video-clickable {
  display: inline-block;
  position: absolute;
  border-radius: 128px;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: 8px;
  cursor: pointer;
  z-index: 3;
}

.ts-post-info {
  width: 272px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.ts-video-duration {
  position: absolute;
  top: -47px;
  left: 0;
}
.ts-video-share {
  cursor: pointer;
  position: absolute;
  top: -47px;
  right: 0;
}
.ts-post-date {
  margin-top: 17px;
}
.ts-post-views {
  margin-top: 7px;
}
.ts-post-views:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 12px;
  background-position: -8px -29px;
  margin-right: 6px;
  vertical-align: middle;
}

.ts-video-share {
  display: inline-block;
  width: 26px;
  height: 19px;
  background-position: -4px 0;
}

.ts-post-more {
  text-align: center;
  margin: 50px auto;
  width: 50px;
  border: 2px solid #333;
  border-radius: 18px;
  padding: 7px 15px;
  background-color: #fff;
  cursor: pointer;
}
.ts-post-more:before {
  content: '...';
}

.ts-popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  transition: all .2s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  pointer-events: none;
}
.ts-popup-show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.ts-popup-wrap {
  position: absolute;
  left: 15px; right: 15px;
  top: 0; bottom: 0;
}
.ts-popup {
  width: 405px;
  height: 245px;
  max-width: 100%;
  border-radius: 4px;
  background: #fff;
  word-wrap: break-word;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  box-sizing: border-box;
  padding: 24px;
  margin: auto;
  color: #1a1a1a;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  transition: all .2s ease;
  transform: scale3d(0.95, 0.95, 1);
}
.ts-popup-show .ts-popup {
  transform: scale3d(1, 1, 1);
}
.ts-popup-header {
  font-size: 19px;
  line-height: 25px;
  font-weight: 500;
  margin: 0 0 15px;
}
.ts-popup-field {
  padding: 9px 0;
  margin: 0 0 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: text;
  color: #000;
  overflow: auto;
  height: 32px;
  transition: height .2s ease;
}
.ts-field-highlighted {
  display: inline;
  font-size: 16px;
  line-height: 32px;
  background: #ebebeb;
  padding: 7px 5px 6px;
}
.ts-field-highlighted::selection {
  background: transparent;
}
.ts-field-highlighted::-moz-selection {
  background: transparent;
}
.ts-embed-code-field {
  word-break: break-all;
  white-space: normal;
}
.ts-share-buttons-wrap {
  position: relative;
}
.ts-share-buttons {
  display: table;
  width: 100%;
  position: absolute;
}
.ts-share-button-wrap {
  display: table-cell;
}
.ts-share-button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 7px;
  margin: 0 -7px;
  color: #1a1a1a;
  cursor: pointer;
}
.ts-share-button:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  vertical-align: top;
}
.ts-share-button span {
  margin-left: 8px;
}
.ts-share-twitter {
  text-align: left;
}
.ts-share-twitter .ts-icon-before:before {
  background-position: -7px -106px;
}
.ts-share-telegram {
  text-align: center;
}
.ts-share-telegram .ts-icon-before:before {
  background-position: -7px -136px;
}
.ts-share-facebook {
  text-align: right;
}
.ts-share-facebook .ts-icon-before:before {
  background-position: -7px -76px;
}
.ts-popup-buttons {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.ts-popup-button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 9px 15px;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 2px;
  white-space: nowrap;
}
.ts-popup-button:hover {
  background: #f0f0f0;
  text-decoration: none;
}
.ts-popup-button:active {
  background: #e4e4e4;
}
.ts-popup-button-wrap {
  display: inline-block;
  font-size: 14px;
  padding: 9px 15px;
  position: relative;
}
.ts-popup-button-wrap .ts-popup-button {
  position: absolute;
  right: 0;
  top: 0;
}
.ts-popup-copied {
  font-weight: 400;
  color: #777;
  cursor: auto;
}
.ts-popup-copied:hover {
  background: none;
}
.ts-embed-toggle-wrap {
  float: right;
}

.ts-embed-toggle-wrap,
.ts-share-link-button,
.ts-embed-code-button {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}
.ts-share-link-button.ts-icon {
  background-position: -4px -158px;
}
.ts-embed-code-button.ts-icon {
  background-position: -4px -181px;
}

.ts-popup-header:before,
.ts-popup-button-wrap:before {
  content: '\a0';
}
.ts-popup-container .ts-embed-code-header,
.ts-popup-container .ts-share-link-button,
.ts-popup-container .ts-popup-copy-code,
.ts-popup-container .ts-embed-code-shown .ts-share-buttons,
.ts-popup-container .ts-embed-code-shown .ts-share-link-header,
.ts-popup-container .ts-embed-code-shown .ts-embed-code-button,
.ts-popup-container .ts-embed-code-shown .ts-popup-copy-url,
.ts-popup-container .ts-popup-copied,
.ts-popup-container .ts-url-copied .ts-popup-copy-url,
.ts-popup-container .ts-embed-code-shown .ts-url-copied .ts-popup-copy-code {
  transition: all .2s ease;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.ts-popup-container .ts-share-buttons,
.ts-popup-container .ts-share-link-header,
.ts-popup-container .ts-embed-code-button,
.ts-popup-container .ts-popup-copy-url,
.ts-popup-container .ts-embed-code-shown .ts-embed-code-header,
.ts-popup-container .ts-embed-code-shown .ts-share-link-button,
.ts-popup-container .ts-embed-code-shown .ts-popup-copy-code,
.ts-popup-container .ts-url-copied .ts-popup-copied {
  transition: all .2s ease;
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.ts-popup-show .ts-share-buttons,
.ts-popup-show .ts-share-link-header,
.ts-popup-show .ts-embed-code-button,
.ts-popup-show .ts-popup-copy-url,
.ts-popup-show .ts-embed-code-shown .ts-embed-code-header,
.ts-popup-show .ts-embed-code-shown .ts-share-link-button,
.ts-popup-show .ts-embed-code-shown .ts-popup-copy-code,
.ts-popup-show .ts-url-copied .ts-popup-copied {
  pointer-events: auto;
}
.ts-share-buttons {
  transform: translate3d(0, 0, 0);
}
.ts-embed-code-shown .ts-share-buttons {
  transform: translate3d(0, -15px, 0);
}
.ts-embed-code-shown .ts-popup-field {
  white-space: normal;
  height: 96px;
}
.ts-embed-code-field,
.ts-embed-code-shown .ts-share-link-field {
  display: none;
}
.ts-share-link-field,
.ts-embed-code-shown .ts-embed-code-field {
  display: inline;
}

@media (max-width: 374px) {
  .ts-popup {
    height: 220px;
    padding: 18px;
  }
  .ts-popup-buttons {
    right: 10px;
    bottom: 10px;
  }
  .ts-share-button span {
    margin-left: 4px;
    letter-spacing: -0.4px;
  }
}
@media (max-width: 319px) {
  .ts-share-buttons {
    width: auto;
  }
  .ts-share-button-wrap {
    padding-right: 14px;
  }
  .ts-share-button span {
    display: none;
  }
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}

.ts-embed {
  width: 100%;
  height: 100%;
  position: relative;
}
.ts-embed .ts-feed {
  width: 320px;
  height: 340px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ts-embed .ts-post {
  padding: 3px 15px 9px;
}
.ts-embed .ts-popup-container {
  background: none;
}
